.heart {
    width: 40px;
    height: 40px;
    margin-right: 125px;
    margin-bottom: 20px;
}

.alarm{
    width: 40px;
    height: 40px;
}

.chat{
    width: 40px;
    height: 40px;
}
.user{
    width: 40px;
    height: 40px;
}